# Basic Python 

## Chapter 1 - Intro to Python

### Install Python and setup environment

1. Download Pytohn จาก https://www.python.org/
2. Install python and set PATH environment 
3. Install Text Editor (VS Code) จาก https://code.visualstudio.com/

# Intro to python

เราสามารถเขียน Python ได้ 2 วิธี ได้แก่

    1. ติดตั้ง Python IDE บนเครื่องคอมตัวเอง เช่น ใช้ PyCharm, Visual Studio Code หรือ อื่น ๆ .

    2. เขียนโปรแกรมออนไลน์ ซึ่งปัจจุบันมีหลายเว็บที่ให้บริการ เช่น https://repl.it/languages/python3.

โหมดการใช้งาน Python มี 2 โหมด

    1. โหมดสคริปต์ (Script mode) ต้องเขียนชุดคำสั่งทั้งหมดลงในไฟล์แล้วบันทึกไว้ เวลาสั่งรันโปรแกรมก็ให้ทำจากไฟล์ทีเดียวเลย ซึ่งข้อดีเราสามารถรันโปรแกรมได้ซ้ำๆ และแก้ไขเพิ่มเติมได้ภายหลัง
    2. อินเตอร์แอคทีฟโหมด (interactive mode) เป็นการเขียนชุดคำสั่งที่ละคำสั่ง แล้วรันทันทีละคำสั่งด้วยมือเราเอง ไม่มีการบันทึกเป็นไฟล์

* คำว่า "รัน (Run)" ในความหมายคอมพิวเตอร์ไม่ได้แปลว่า "วิ่ง" แต่หมายถึงให้คอมพิวเตอร์มันทำงานตามโปรแกรมที่เขียนไว้

## Input & Output
เรียกสั้น ๆ ว่า IO <br>
เป็นการ ป้อนข้อมูลเข้าสู่คอมพิวเตอร์เพื่อประมวลผล และส่งผลลัพธ์ออกมาแสดงให้ user ทราบ<br>

### การแสดงผล
การแสดงผลจะใช้คำสั่ง `print()`


### การรับข้อความเข้า
การรับข้อความจาก keyboard ทำได้โดยการใช้คำสั่ง `input()`

In [7]:
# ตัวอย่าง คำสั่งแสดงผล
print("Hello")

Hello

In [8]:
# ตัวอย่าง คำสั่งแสดงผล
print(5555)

5555

In [9]:
# ตัวอย่าง คำสั่งรับข้อมูลเข้า ผ่านการกำหนดค่า
name = "John"
print(name)

John

In [ ]:
# ตัวอย่าง คำสั่งรับข้อมูล input
name = input("Please enter your name: ")
print(name)

In [38]:
#การแสดงผลหลายข้อความของ คำสั่ง print 
print('Hello', 1234, "How are you")

Hello 1234 How are you

## Python syntax & scope

สามารุถเขียนโปรแกรมบน Command line ได้โดยตรงเลย หรือจะเขียนบน Text Editor (IDE) ก็ได้.
ในบทเรียนนี้จะใช้ VS code ในการเขียนโปรแกรม.

Scope คือ ขอบเขตของการทำงานในส่วนต่างๆ ใน pytohn เราจะใช้ tab ในการกำหนด scope การทำงาน.

ในภาษาอื่น ๆ เช่น Javascript จะกำหนด scope โดยใช้เครื่องหมาย { }
```js
    if (5 > 2) {
        console.log("5 > 2");
    } 
```

แต่ใน Python เราจะใช้แบบนี้ .
```python
    if 5 > 2:
        print("5 > 2")
```

### Comment
Comment คือ การบอกคอมพิวเตอร์ไม่ให้ประมวลผลบรรทัดที่ถูก comment ไว้.

เราจะ comment โดยใช้เครื่องหมาย # ไว้หน้าข้อความที่จะ comment.

In [ ]:
# ตัวอย่าง Comment
print("Hello 1234") #สั่งให้แสดงผลออกมาว่า Hello 1234

In [ ]:
# ตัวอย่าง Comment
print("Hello 1234 #สั่งให้แสดงผลออกมาว่า Hello 1234" )

In [ ]:
"""ตัวอย่าง Comment
แบบใช้ double qoute 3 อัน"""

print('Hello', '1234')

## Data Type

ชนิดของข้อมูลที่ built-in มากับโปรแกรมมี 8 ชนิด ดังนี้

| Data Type     | Type                             |
| -----------   | -----------                      |
| **Text**      | _str_                            |
| **Numeric**   | _int, float, complex_            |
| **Boolean**   | _bool_                           |
| **Sequence**  | _list, tuple, range_             |
| **Set**       | _set, frozenset_                 |
| **Mapping**   | _dict_                           |
| **Binary**    | _bytes, bytearray, memoryview_   |
| **None**      | _NoneType_                       |

เราสามารถตรวจสอบชนิดของข้อมูลได้โดยการใช้คำสั่ง type

### ในบทนี้จะกล่าวถึงชนิดของข้อมูล 2 ชนิด

#### **Text (ข้อความ)**
จะมี type เป็น string (str) <br>
จัดเก็บอักขระ ตัวเลข ตัวอักษร ทุกตัวที่อยู่ระหว่างเครื่องหมาย ' (single qoute) หรือ " (double quote)  <br>
เช่น

`'Hello ชาวโลก'` หรือ `"Hello ชาวโลก"`


#### **Numeric (จำนวน)**
จะมี 3 type คือ 
- จำนวนเต็ม หรือ Integer (int)
- จำนวนจริง หรือ Real number (float) เป็นจำนวนที่มีทศนิยม (ทิศนิยม เท่ากับ 0 จะถือว่ามีทศนิยม แต่มีค่าเป็น 0) 
- จำนวนเชิงซ้อน หรือ Complex number (complex) ในบทนี้จะไม่กล่าวถึง

In [17]:
#ตรวจสอบชนิดของข้อมูล
type("Hello")

str

In [18]:
age = 10
type(age)

int

In [19]:
heigth = 171.5
type(heigth)

float

In [29]:
money = 1000.00000
print(money)
type(money)

1000.0

float

In [20]:
fraction = 50/10
print(fraction)
type(fraction)

5.0

float

In [30]:
fraction = 1/2
type(fraction)

float

In [31]:
subjects = ['Math', 'English', 'Science']
type(subjects)

list

In [32]:
familyMembers = {
    'James': 18 ,
    'Mika' : 16 ,
    'Mark' : 21 ,
}
type(familyMembers)

dict

In [33]:
set_of_index = {1, 2, 3, 8}
type( set_of_index )

set

In [34]:
tuple_of_columns = ('ID', 'Firstname', 'Lastname', 'Email', 'Age')
type(tuple_of_columns)

tuple

In [35]:
born_in_Thailand = True
born_in_UK = False
print(type(born_in_Thailand))
print(type(born_in_UK))

<class 'bool'>
<class 'bool'>

In [36]:
nickname = input('Enter your nickname: ')
print(nickname) 
print(type(nickname))

ll
<class 'str'>

In [37]:
age = input('Enter your nickname: ') 
print(age) 
print(type(age))

55
<class 'str'>

**Note :** _Data type ของตัวแปรที่ได้จาก input() จะเป็น str เสมอ_

# Assign variable

การกำหนดตัวแปร คือ การกำหนดค่าต่าง ๆ เก็บไว้ใน ตัวแปร เพื่อนำไปใช้ต่อในโปรแกรม.

ใน Python การตั้งชื่อตัวแปรจะเป็นรูปแบบ Case sensitive คือ ตัวใหญ่และตัวเล็ก ถือว่าเป็นคนละตัวกัน.


#### ชื่อตัวแปรจะอยู่ด้านซ้ายของเครื่องหมา่ยเท่ากับ (=)

In [ ]:
name = "John"   #เก็บข้อมูล สตริง ไว้ในตัวแปร name
NAME = "Tomas"  #เก็บข้อมูล สตริง ไว้ในตัวแปร NAME
Name = "Miller" #เก็บข้อมูล สตริง ไว้ในตัวแปร Name
NaMe = "Joe"    #เก็บข้อมูล สตริง ไว้ในตัวแปร NaMe

print(name)
print(NAME)
print(Name)
print(NaMe)

#ตัวแปร name, NAME, Name คือคนละตัวกัน

# Re-assign variable 

ใน Python สามารถกำหนดตัวแปร ทับตัวแปรที่เคยกำหนดไว้แล้วได้ โดยไม่สนใจว่าตัวแปรนั้น ๆ จะเป็นชนิดข้อมูลอะไร

In [ ]:
#First assign price
price = 100
print("สินค้า ราคา:", price, type(price))

#Re-assign price
price = 100.25
print("สินค้า ราคา:", price, type(price))

#Re-assign price
price = "100.25"
print("สินค้า ราคา:", price, type(price))

## ข้อกำหนดในการตั้งชื่อตัวแปร (Identifier)

1. ชื่อตัวแปรประกอบด้วย ตัวอักษร ตัวเลข หรือเครื่องหมายขีดเส้นใต้ ( _ ) เครื่องหมายอื่นไม่สามารถใช้ได้
2. ห้ามขึ้นตันด้วยตัวเลข
3. ไม่ควรตั้งชื่อตัวแปรซ้ำกับชื่อชื่อตัวแปรใน Python เช่น int, str, max, sum, abs (ไม่ห้าม แต่ไม่ควรทำ)
4. ห้ามตั้งชื่อซ้ำกับคำสงวนของ Python คือ` and, as, assert, break, class, continue, def, del, elif, else, except, exec, finally, for, from, global, if, import, in, is, lambda, not, or, pass, print, raise, return, try, while, with, yield`
5. ควรตั้งชื่อให้สื่อความหมาย

### สไตล์การเขียนชื่อตัวแปรที่นิยม

> **camelCase** : มักไม่ใช้ underscore (_) คำถัดไปจะขึ้นต้นด้วยตัวพิมพ์ใหญ่.<br>
>   ตัวอย่าง ตัวแปรที่ใช้เก็บจำนวนนักเรียน `numberOfStudent` หรือ `studentNumber` 

> **PascalCase** : เหมือน camel case แต่ตัวแรกของคำแรกจะเป็นตัวใหญ่. <br>
>    ตัวอย่าง ตัวแปรที่ใช้เก็บจำนวนนักเรียน `NumberOfStudent` หรือ `StudentNumber` 
    
> **snake_case** : จะใช้ underscore (_) แยกแต่ละคำ จะใช้ตัวใหญ่หรือตัวเล็กก็ได้ ส่วนใหญ่นิยมใช้ตัวเล็ก.<br>
>    ตัวอย่าง ตัวแปรที่ใช้เก็บจำนวนนักเรียน `number_of_student` หรือ `student_number`

In [ ]:
#กำหนดตัวแปร 
#camelCase
studentName = "Miller"   
firstSubject = "English"
studentID = 33 
birthYear = 2009
studentAddress = "900 ถนนสุขุมวิท เขตคลองเตย กทม. 10110"

#PascalCase
StudentName = "Mike"   
FirstSubject = "Science"
StudentID = 25
BirthYear = 2008
StudentAddress = "100/1 ถนนสุขุมวิท เขตคลองเตย กทม. 10110"

#snake_case
student_name = "John"   
first_subject = "Math"
student_id = 8
birth_year = 2005
student_address = "123 ถนนสุขุมวิท เขตคลองเตย กทม. 10110"

this_year = 2022

In [ ]:
#การแสดงผลตัวแปร แบบง่าย
print("Hello I'm", student_name, "my student ID is", student_id , ". I'm", this_year - birth_year, "years old.")
print()
#การแสดงผลตัวแปร แบบกำหนดตัวแปร
say_hello = "Hello I'm " + student_name + " my student ID is " + str(student_id) + " . I'm " + str(this_year - birth_year) + " years old."
print(say_hello)

#การแสดงผลตัวแปร แบบกำหนดบรรทัดเดียว
print("Hello I'm " + student_name + " my student ID is " + str(student_id) + " . I'm " + str(this_year - birth_year) + " years old.")

## Casting

คือ การแปลงชนิดข้อมูลจาก type หนึ่ง เป็น อีก type หนึ่ง

ในที่นี้จะกล่าวถึงการ Casting 3 ชนิด

* `int()` ใช้สำหรับแปลงตัวเลขที่เป็นจุดทศนิยม หรือ ตัวอักษร ไปเป็นตัวเลขจำนวนเต็ม type int
* `float()` ใช้สำหรับแปลงตัวเลขจำนวนเต็ม หรือ ตัวอักษร ไปเป็นตัวเลขที่มีจุดทศนิยม type float
* `str()` ใช้สำหรับแปลงข้อมูลต่าง ๆ เป็นตัวอักษร type string

In [ ]:
#Casting to int
a = int(100.50) #แปลง float ไปเป็น int
b = int(50)     #แปลง int ไปเป็น int
c = int("80")   #แปลง str ไปเป็น int
d = int(True)   #แปลง bool ไปเป็น int
e = int(False)  #แปลง bool ไปเป็น int

print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))
print(e, type(e))

In [ ]:
#Casting to float
a = float(100.50)       #แปลง float ไปเป็น float
b = float(99.099)       #แปลง float ไปเป็น float
c = float(50)           #แปลง int ไปเป็น float
d = float("80.123")     #แปลง str ไปเป็น float
e = float("80")         #แปลง str ไปเป็น float
f = float(True)         #แปลง bool ไปเป็น float
g = float(False)        #แปลง bool ไปเป็น float

print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))
print(e, type(e))
print(f, type(f))
print(g, type(g))

In [ ]:
#Casting to str
a = str(100.50)       #แปลง float ไปเป็น str
b = str(99.099)        #แปลง float ไปเป็น str
c = str(50)           #แปลง int ไปเป็น str
d = str("80.123")     #แปลง str ไปเป็น str
e = str("80")         #แปลง str ไปเป็น str
f = str(True)         #แปลง bool ไปเป็น str
g = str(False)        #แปลง bool ไปเป็น str

print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))
print(e, type(e))
print(f, type(f))
print(g, type(g))

## Operator
ได้แก่
บวก ( + ), ลบ ( - ), คูณ ( * ), ยกกำลัง ( ** ), หาร ( / ) หารปัดเศษ ( // ), เศษจากการหาร ( % )

In [ ]:
#การบวก +
a = 1       #int
b = 2       #int
c = a + b   

print("a + b =",c ,type(c))

In [ ]:
#การลบ -
a = 1       #int
b = 2       #int
c = a - b   

print("a - b =",c ,type(c))

In [ ]:
#การคูณ *
a = 10       #int
b = 25       #int
c = a * b * 3  

print("a * b * 3 =",c ,type(c))

In [ ]:
#การหาร / 
a = 100     #int
b = 20      #int
c = a / b   

print("a / b =",c ,type(c)) #จะได้ float เสมอ

In [ ]:
#การหารปัดเศษ // 
a = 100     #int
b = 1.5      #int
c = a / b   
d = a // b
x = int(c)

print("a / b =", c ,type(c)) 
print("a // b =", d ,type(d))       #ปัดเศษทิ้งหมดเลย
print("int(a / b) =", x, type(x))   #ปัดเศษทิ้งทั้งหมด และแปลงเป็น int

In [ ]:
#การยกกำลัง ** 
a = 2       #int
b = 3       #int
c = a ** b   

print("a ** b =", c ,type(c))

In [ ]:
#การหาเศษจากการหาร % (modulo หรือ mod)
a = 10      #int
b = 2       #int
c = 4       #int
mod_1 = a % b   
mod_2 = a % c

print("a % b =", mod_1 ,type(mod_1)) # 10 หาร 2 ลงตัว ได้เศษ 0
print("a % c =", mod_2 ,type(mod_2)) # 10 หาร 3 ไม่ลงตัว เหลือเศษ 1

In [ ]:
# การดำเนินการระหว่างจำนวนเต็มกับจำนวนจริงจะได้ผลเป็นจำนวนจริง 
a = 1 + 2.0
b = 1 * 2.0
print(a ,type(a))
print(b ,type(b))

In [ ]:
#ลำดับการดำเนินการ 
a = 2
b = 5

result1 = 1 + a * b                #ลำดับการคำนวณ คูณ บวก 
result2 = 1 + a * b - 1            #ลำดับการคำนวณ คูณ บวก ลบ
result3 = 1 + a * b - 1 / 2        #ลำดับการคำนวณ คูณ หาร บวก ลบ : 1 + (a * b) - (1 / 2) 
result4 = (1 + a * b - 1 ) / 2     #ลำดับการคำนวณ ทำในวงเล็บ คูณ บวก ลบ นอกวงเล็บ หาร 
result5 = (1 + a) * ( b - 2 ) / 2  #ลำดับการคำนวณ ทำในวงเล็บ (1+a) และ (b-2)ก่อน แล้วคูณ (1+a) กับ (b-2) แล้วหาร 3 : ( (1 + a) * ( b - 2 ) ) / 3

print("result1 =", result1, type(result1))
print("result2 =", result2, type(result2))
print("result3 =", result3, type(result3))
print("result4 =", result4, type(result4))
print("result5 =", result5, type(result5))

## Example 

นักเรียนซื้อหนังสือ ราคา 117 บาท ที่ร้านสะดวกหนังสือ โดยจ่ายเงินด้วยธนบัตรหนึ่งร้อยบาท 2 ใบ 
ในลิ้นชักเก็บเงินของร้านมีแต่ธนบัตร 20 บาท และเหรียญหนึ่งบาท 
พนักงานจะต้องทอนเงินเป็นธนบัตร 20 บาท จำนวนกี่ใบ และเหรียญหนึ่งบาทจำนวนกี่เหรียญ?


### วิเคราะห์โจทย์
- รับเงินมา 200 บาท
- สินค้าราคา 117 บาท
- เงินทอน = จำนวนเงินที่รับมา - ราคาสินค้า
- คำนวณว่าต้องใช้ ธนบัตร 20 บาท ทั้งหมดกี่ใบ จากการ หารปัดเศษ
- คำนวณว่าต้องใช้ เหรียญ 1 บาท ทั้งหมดกี่เหร๊ยญ จากการ หาเศษจากการหาร

In [ ]:
#กำหนดตัวแปร
book_price = 117    #ราคาสินค้า
earn_money = 200    #จำนวนเงินที่รับมา
change = earn_money - book_price #เงินทอน

print("เงินทอนทั้งหมด", change, "บาท")

#คำนวนหาจำนวน ธนบัตร 20 บาท ที่ต้องทอน จากการหารปัดเศษ
banknotes_20 = change // 20     #จำนวนธนบัตร 20 บาท
print("ทอนเป็น ธนบัตรยี่สิบบาท จำนวน", banknotes_20, "ใบ" )

#คำนวณหาจำนวน เหรียญ 1 บาท ที่ต้องทอน
coin_1 = change % 20            #จำนวนเหรียญ 1 บาท
print("ทอนเป็น เหรียญหนึ่งบาท จำนวน", coin_1, "เหรียญ" )